<!DOCTYPE html>
<html lang="en">
  <head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Medic | Your global health check</title>
  <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">

  <!-- *** Metronic Style Sheets

  BEGIN GLOBAL MANDATORY STYLES
  <link href="//fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=all" rel="stylesheet" type="text/css" />
  <link href="../assets/global/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
  <link href="../assets/global/plugins/simple-line-icons/simple-line-icons.min.css" rel="stylesheet" type="text/css" />
  <link href="../assets/global/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
  <link href="../assets/global/plugins/uniform/css/uniform.default.css" rel="stylesheet" type="text/css" />
  <link href="../assets/global/plugins/bootstrap-switch/css/bootstrap-switch.min.css" rel="stylesheet" type="text/css" />

  BEGIN PAGE LEVEL PLUGINS
  <link href="../assets/global/plugins/bootstrap-daterangepicker/daterangepicker-bs3.css" rel="stylesheet" type="text/css" />
  <link href="../assets/global/plugins/morris/morris.css" rel="stylesheet" type="text/css" />
  <link href="../assets/global/plugins/fullcalendar/fullcalendar.min.css" rel="stylesheet" type="text/css" />
  <link href="../assets/global/plugins/jqvmap/jqvmap/jqvmap.css" rel="stylesheet" type="text/css" />

  BEGIN THEME GLOBAL STYLES
  <link href="../assets/global/css/components.min.css" rel="stylesheet" id="style_components" type="text/css" />
  <link href="../assets/global/css/plugins.min.css" rel="stylesheet" type="text/css" />

  BEGIN THEME LAYOUT STYLES
  <link href="../assets/layouts/layout3/css/layout.min.css" rel="stylesheet" type="text/css" />
  <link href="../assets/layouts/layout3/css/themes/default.min.css" rel="stylesheet" type="text/css" id="style_color" />
  <link href="../assets/layouts/layout3/css/custom.min.css" rel="stylesheet" type="text/css" />

  -->


  <link rel="shortcut icon" href="<%= static_path(@conn, "/favicon.ico") %>" type="image/x-icon">
  <link rel="icon" href="<%= static_path(@conn, "/favicon.ico") %>" type="image/x-icon">
</head>

<body>
  <h1>Hello World</h1>
  <!-- Get Static working first
  <%= @inner %>
  <script src="<%= static_path(@conn, "/js/bundle.js") %>"></script>
  -->
</body>
</html>
