<h2>New Health Check</h2>

<%= render "form.html", changeset: @changeset,
                        action: health_check_path(@conn, :create) %>

<%= link "Back", to: health_check_path(@conn, :index) %>
